# Lab:

## a) Data Formats

In this lab, you are required to write code to make sense of a json text and convert text to an XML format.

Follow these instructions: 

1. Given a variable with json_input with a json text.
2. The JSON text is a document representing elements and values. The values could be string, sub-documents or list. 
3. Each element with the document must converted to an XML format with names, being the tags and values being the inner text within the XML.
5. Output must be saved as xml_output variable and print it.

Reference : The input JSON is part of openweathermaps sample - https://samples.openweathermap.org/data/2.5/weather?id=2172797&appid=b6907d289e10d714a6e88b30761fae22


## b) Image Flip

Perform a vertical flip on a given image. The 'Pythonic' way of programming is to use minimum and most efficient code in order to acheive a certain output. Code a pythonic solution using numpy's flip function. Also, code the same solution without using numpy's flip function. The link to the image is "../../../images/lenna.png".

In [4]:
import json
input_json = '{"coord":{"lon":145.77,"lat":-16.92},"weather":[{"id":802,"main":"Clouds","description":"scattered clouds","icon":"03n"}],"base":"stations","main":{"temp":300.15,"pressure":1007,"humidity":74,"temp_min":300.15,"temp_max":300.15},"visibility":10000,"wind":{"speed":3.6,"deg":160},"clouds":{"all":40},"dt":1485790200,"sys":{"type":1,"id":8166,"message":0.2064,"country":"AU","sunrise":1485720272,"sunset":1485766550},"id":2172797,"name":"Cairns","cod":200}'

#Write/modify your code below:

output_xml = ''

In [35]:
import pandas as pd 
iris_location = "../../../data/iris.json"
with open(iris_location) as f: 
     json_iris = json.load(f)

# Get the label for the 4 th row 
label = json_iris[3]['species']

# Get the 3 rd column for the 90th row
value = json_iris[89]['petal_length']


# Convert the json_iris file to a dataframe
iris_df = pd.DataFrame(data=json_iris)
iris_df.head()

# Dataframe to dict 
iris_dict = iris_df.to_dict()

# Read 
pd.read_json(iris_location)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### OpenAddress data transformation
We are going to read the open data into a pandas dataframe and convert it to json

In [38]:
data_source = "https://github.com/openaddresses/openaddresses/blob/master/us-data/states.txt"

In [43]:
pd.read_csv(, delimiter="\t")

,Summary Level,Geographic Component,State FIPS,Place FIPS,County FIPS,Tract,Zip,Block,Name,Latitude,Longitude
0,40,0,1,NaN,NaN,NaN,NaN,NaN,Alabama,33.041578,-86.717606
1,40,0,2,NaN,NaN,NaN,NaN,NaN,Alaska,61.593773,-149.689776
2,40,0,4,NaN,NaN,NaN,NaN,NaN,Arizona,33.979048,-111.654430
3,40,0,5,NaN,NaN,NaN,NaN,NaN,Arkansas,34.984084,-92.487179
4,40,0,6,NaN,NaN,NaN,NaN,NaN,California,36.148666,-119.601508
5,40,0,8,NaN,NaN,NaN,NaN,NaN,Colorado,39.279984,-105.358979
6,40,0,9,NaN,NaN,NaN,NaN,NaN,Connecticut,41.518148,-72.818249
7,40,0,10,NaN,NaN,NaN,NaN,NaN,Delaware,39.185514,-75.504198
8,40,0,11,NaN,NaN,NaN,NaN,NaN,District of Columbia,38.913611,-77.013222
9,40,0,12,NaN,NaN,NaN,NaN,NaN,Florida,28.140923,-82.012976
10,40,0,13,NaN,NaN,NaN,NaN,NaN,Georgia,32.958120,-83.603378
11,40,0,15,NaN,NaN,NaN,NaN,NaN,Hawaii,20.807317,-156.991487
12,40,0,16,NaN,NaN,NaN,NaN,NaN,Idaho,44.390597,-114.909437
13,40,0,17,NaN,NaN,NaN,NaN,NaN,Illinois,40.567457,-88.847580
14,40,0,18,NaN,NaN,NaN,NaN,NaN,Indiana,40.070025,-86.272347
15,40,0,19,NaN,NaN,NaN,NaN,NaN,Iowa,42.038326,-93.368434
16,40,0,20,NaN,NaN,NaN,NaN,NaN,Kansas,38.442264,-97.399596
17,40,0,21,NaN,NaN,NaN,NaN,NaN,Kentucky,37.637259,-85.323884
18,40,0,22,NaN,NaN,NaN,NaN,NaN,Louisiana,30.883133,-91.731841
19,40,0,23,NaN,NaN,NaN,NaN,NaN,Maine,44.665264,-69.457397
20,40,0,24,NaN,NaN,NaN,NaN,NaN,Maryland,39.114408,-76.782835
21,40,0,25,NaN,NaN,NaN,NaN,NaN,Massachusetts,42.235405,-71.402300
22,40,0,26,NaN,NaN,NaN,NaN,NaN,Michigan,43.403838,-84.679044
23,40,0,27,NaN,NaN,NaN,NaN,NaN,Minnesota,45.639952,-94.083065
24,40,0,28,NaN,NaN,NaN,NaN,NaN,Mississippi,32.700249,-89.609622
25,40,0,29,NaN,NaN,NaN,NaN,NaN,Missouri,38.353271,-92.439467
26,40,0,30,NaN,NaN,NaN,NaN,NaN,Montana,46.939672,-110.568466
27,40,0,31,NaN,NaN,NaN,NaN,NaN,Nebraska,41.242052,-98.411541
28,40,0,32,NaN,NaN,NaN,NaN,NaN,Nevada,38.640903,-116.886031
29,40,0,33,NaN,NaN,NaN,NaN,NaN,New Hampshire,43.309253,-71.540147
30,40,0,34,NaN,NaN,NaN,NaN,NaN,New Jersey,40.291026,-74.500310
31,40,0,35,NaN,NaN,NaN,NaN,NaN,New Mexico,34.715946,-106.338771
32,40,0,36,NaN,NaN,NaN,NaN,NaN,New York,42.155127,-75.164667
33,40,0,37,NaN,NaN,NaN,NaN,NaN,North Carolina,35.526729,-79.746124
34,40,0,38,NaN,NaN,NaN,NaN,NaN,North Dakota,47.534051,-99.937310
35,40,0,39,NaN,NaN,NaN,NaN,NaN,Ohio,40.406215,-82.720939
36,40,0,40,NaN,NaN,NaN,NaN,NaN,Oklahoma,35.572285,-97.043688
37,40,0,41,NaN,NaN,NaN,NaN,NaN,Oregon,44.380111,-121.878222
38,40,0,42,NaN,NaN,NaN,NaN,NaN,Pennsylvania,40.616374,-77.405999
39,40,0,44,NaN,NaN,NaN,NaN,NaN,Rhode Island,41.730800,-71.455484
40,40,0,45,NaN,NaN,NaN,NaN,NaN,South Carolina,33.993155,-80.963451
41,40,0,46,NaN,NaN,NaN,NaN,NaN,South Dakota,44.247204,-99.195494
42,40,0,47,NaN,NaN,NaN,NaN,NaN,Tennessee,35.822799,-86.090713
43,40,0,48,NaN,NaN,NaN,NaN,NaN,Texas,31.308052,-98.241319
44,40,0,49,NaN,NaN,NaN,NaN,NaN,Utah,39.845409,-111.785442
45,40,0,50,NaN,NaN,NaN,NaN,NaN,Vermont,44.023032,-72.674848
46,40,0,51,NaN,NaN,NaN,NaN,NaN,Virginia,37.554963,-78.376114
47,40,0,53,NaN,NaN,NaN,NaN,NaN,Washington,47.315690,-121.102030
48,40,0,54,NaN,NaN,NaN,NaN,NaN,West Virginia,38.752463,-80.740921
49,40,0,55,NaN,NaN,NaN,NaN,NaN,Wisconsin,44.190581,-89.568976
50,40,0,56,NaN,NaN,NaN,NaN,NaN,Wyoming,42.868330,-107.166807
51,40,0,72,NaN,NaN,NaN,NaN,NaN,Puerto Rico,18.246715,-66.381305

## Image processing

In [1]:
image_link = '../../../images/lenna.png'